<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Now</title>
</head>

<body>
    {{user.username}}
    <section class="bookingForm">
        <form method="POST" class="paymentForm">
            {% csrf_token %}
            <input type="text" name="booking_type" placeholder="Booking Title" class="bookingType inputField" value="{{booking_type}}" readonly><br>
            <input type="text" name="phone_number" placeholder="Phone Number" class="phoneNumber inputField"><br>
            <input type="text" name="number_of_people" placeholder="number_of_people"
                class="numberOfPeople inputField"><br>
            <input name="start_day" type="date" class="checkInCalendar"><br>
            <select name="payment_type">
                <option value="CIF">Cash in Front</option>
                <option value="COD">Khalti</option>
            </select><br>
            <input type="Submit" placeholder="Submit" class="paymentSubmitBtn">
        </form>
    </section>
</body>

</html>